.all {
  padding-top: 1050px;
  background-image: url('https://scripturecentral.org/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fscripturecentral-prod-strapi-uploads%2FKW_743_6f0e85b658%2FKW_743_6f0e85b658.jpg&w=3840&q=75');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif; /* Set a default font */
  color: #fff; /* Set a text color to contrast with the background */
}

main h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
}

main nav-link {
  text-decoration: none;
  font-size: 20px;
}

.text-container {
  display: inline-block; /* Shrinks the container to fit the text */
  text-align: center; /* Centers the text inside the container */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px; /* Optional padding to give some space around the text */
  position: absolute; /* Allows the container to float and be placed relative to the viewport */
  top: 50%; /* Positions the container in the middle of the screen vertically */
  left: 50%; /* Positions the container in the middle of the screen horizontally */
  transform: translate(-50%, -50%);
  background-color: #5c6264b4; /* Offsets the container so it is exactly centered */
}

.create_account {
  margin-top: 900px;
  bottom: 10%;
  font-size: 30px;
}

.create {
  text-decoration: none;
  font-size: 25px;
  color: gold;
}

main nav p {
  padding-top: 20px;
  font-size: 25px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1b7ea2;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 30px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(221, 189, 5);
}

.websocket-stuff {
  position: fixed;
  bottom: 6%; /* Pin to the bottom */
  left: 0;
  width: 100%; /* Span full width */
  color: white;
  padding: 10px;
  text-align: right; /* Align chat to the right side */
  box-sizing: border-box;
}

/* Chat Specific Styles */
.chat-container {
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  max-width: 400px;
  text-align: left;
}

.chat-container h2 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #fff;
}

.chat-messages {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: #333;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.chat-messages div {
  margin-bottom: 5px;
}

.chat-input-container {
  display: flex;
  gap: 5px;
}

.chat-input {
  flex: 1;
  padding: 5px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
}

.chat-send-button {
  background-color: #1b7ea2;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}
.chat-send-button:hover {
  background-color: rgb(221, 189, 5);
}
