.login-page{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b7ea2;
    flex-direction: column;
}

.spandiv{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    gap: 10px;
}

.title{
    color: white;
    align-items: center;
    font-size: 15px;
    padding-bottom: 5px;

}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}


span {
    font-size: 1.2rem;
    color: #555;
}


input[type="text"], input[type="password"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #999;
}


button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[type="submit"]:last-child {
    background-color: #28a745;
}

button[type="submit"]:last-child:hover {
    background-color: #218838;
}
