
.about-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/about_pic.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-wrapper {
  color: white;
  font-size: 28px;
  padding: 10px;
  background-color: rgba(92, 98, 100, 0.7); /* Semi-transparent background */
  width: 80%; /* Takes up 80% of the screen width */
  margin: 60px auto; /* Centers the wrapper horizontally with margin-top of 60px */
  text-align: center;
  border-radius: 8px;
}
