html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1b7ea2;
    display: flex;
    padding: none;
    flex-direction: row;
    justify-content: start;
    align-items: center;

  }
  
  header div{
    margin-right: 15px;

  }

  header a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 80px;
    font-family: 'Times New Roman';
    font-size: 20px;
  }

main{
    margin-left: 10px;
    min-height: calc(100vh - 80px);
    padding-bottom: 80px;
    overflow: auto;
}
main p{
    font-family: 'Times New Roman';
    font-size: 20px;
}

.intro{
    text-align: center;
}

.header1{
    font-size: 20px;
    text-align: center;
}

.header2{
    text-align: left;
    font-size: 30px;
    padding-bottom: 0px;
    color: #1b7ea2;
}

main h3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
}




.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b7ea2; /* Green background */
    color: white; /* White text */
    text-align: center;
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-size: 25px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth hover effect */
        
  }
  
  .button:hover {
    background-color: #ae9611; /* Darker green on hover */
  }
  
  .create_account a{
    text-decoration: none;
    font-size: 20px;
}

footer{
  position: fixed;
  bottom: 0; /* Pin to the bottom */
  left: 0; /* You can also pin to the left side */
  width: 100%;
  background-color: #1b7ea2;
  color: white;
  font-family: sans-serif;
  text-align: center;
}