.book-main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/bom.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.book-conent, h1 {
    font-size: 25px;
    margin-bottom: 10px; 
    color: rgb(11, 11, 11); 
    font-weight: bold;
    text-align: center; /* Optional: Center align the title */
}

.bookConent, form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Limit form width */
    width: 100%; /* Ensure it stretches to fill container */
    margin: 0 auto; /* Center form horizontally */
}
